.Profile {
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;

    padding: 4rem 2rem;
}

.Profile-description {
    margin-bottom: 1.5rem;
}

.Profile a {
    color: white;
    text-decoration: none;
    position: relative;
}

.Profile a:hover {
    text-decoration: underline;
}

.Profile .avatar {

    --size: 64%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: .75rem;

    width: var(--size);
    height: 0;

    margin: 0 0 2rem;
    padding-bottom: var(--size);
}

.Profile .username {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.5rem;
}

.Profile .login {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.05rem;
    line-height: 1.2;
}

.Profile .bio {
    font-size: 1.05rem;
    margin-top: .5rem;
}

.Profile .company {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.05rem;
}

.Profile .company svg[data-prefix="fas"] {
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.Profile .location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.05rem;
}

.Profile .location svg[data-prefix="fas"] {
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
}
