.Repository {
    background: #FFFFFF40;

    padding: 1.15rem;

    display: flex;
    flex-direction: column;

    cursor: pointer;

    transition: 600ms ease-in-out;

    border-radius: .35rem;
}

.Repository-name {
    font-weight: bold;
    font-size: 1.15rem;
}

.Repository-description {
    margin-top: .25rem;
    font-size: .85rem;
    line-height: 1rem;
    flex: 1 1 auto;
}

.Repository-infos {
    margin-top: 1rem;
    font-size: .9rem;

    display: flex;
}

.Repository-infos > :not(:first-child) {
    margin-left: 1rem;
}

.Repository-infos-language {
    flex: 1 1 auto;
}

.Repository.hide {
    display: none;
}
