.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App-section {
    flex: 1 1 auto;

    background-color: var(--dark);
    color: white;

    height: 100vh;

    display: block;

    overflow: hidden;

    position: relative;
}


/**
 * Main section
 */

.App-section-main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    position: absolute;
}

.App-section-main h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.App-section-main form[name="github-profile"] {
    display: flex;
    flex-direction: row;

    flex: 1 1 auto;

    width: 100%;
    height: 100%;

    padding-top: 2rem;

    flex-wrap: wrap;

    overflow: hidden;
}

.App-section-main form[name="github-profile"] aside.error-helper-wrapper {
    position: relative;
    width: 100%;
    height: 1.25rem;
    display: block;
    margin-top: .75rem;
    font-size: 1.25rem;
    overflow: hidden;
}

.App-section-main form[name="github-profile"] small.error-helper {
    /*transform: translateY(100%);*/

    position: absolute;
    left: 0;
    top: 100%;

    transition: 300ms top linear;
}

.App-section-main form[name="github-profile"].has-error-invalid-username small.error-helper[aria-labelledby="invalid-username"] {
    top: 0;
}

.App-section-main form[name="github-profile"].has-error-unknown-user small.error-helper[aria-labelledby="unknown-user"] {
    top: 0;
}

.App-section-main form[name="github-profile"] .form-group {
    position: relative;
    display: flex;

    flex: 1 1 auto;
}

.App-section-main form[name="github-profile"] button[type="submit"] {
    font-size: 2rem;

    width: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.App-section-main form[name="github-profile"] input[name="username"] {
    padding: 1rem 1.75rem;
    font-size: 2rem;

    background: black;
    border: .15rem solid var(--light);
    color: white;

    flex: 1 1 auto;

    z-index: 1;
}

.App-section-main form[name="github-profile"] input[name="username"] + label {
    position: absolute;

    left: 2rem;
    transition: 150ms ease-in-out;

    z-index: 2;
}

.App-section-main form[name="github-profile"] input[name="username"]:placeholder-shown + label {
    transform: translateY(calc(-50% - .15rem));
    top: 50%;
    font-size: 2rem;
}

.App-section-main form[name="github-profile"] input[name="username"]:not(:placeholder-shown) + label,
.App-section-main form[name="github-profile"] input[name="username"]:focus + label {
    transform: translateY(-100%);
    top: 0;
    left: 0;
    font-size: 1.25rem;
}

.App-section-main-loading-wrapper {
    text-align: center;
    font-size: 1.25rem;
    padding: 1.25rem;
    min-height: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
 * Portfolio section
 */
.App-section-portfolio {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100vh;
    width: 100vw;

    background-image: linear-gradient(90deg, transparent 0%, #000000AA 33.3334%, #000000CC 40%, #000000EE 100%), url(../../assets/portfolio-background.jpg);
    background-position: center right;
    background-size: cover;

    position: absolute;

    overflow: auto;
}

.App-section-portfolio-profile {
    width: 33.3334%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding-right: 4%;

    position: sticky;
    top: 0;
}

.App-section-portfolio-repositories {
    width: 100%;
    height: 100%;

    margin: 4rem 0;
}

.App-section-portfolio-repositories-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 4%;
}

.App-section-portfolio-repositories-header > h2 {
    flex: 1 1 auto;
    user-select: none;
}

.App-section-portfolio-repositories-actions {
}

.App-section-portfolio-repositories-actions input[name="repositories_visibility"] {
    display: none;
}

/**
 * Animations
 */

/* Hide & Show */

.show {
    top: 0;
    opacity: 1;
    transition: opacity 600ms ease-out 300ms, transform 600ms ease-in-out;
}

.hide {
    opacity: 0;
    transition: opacity 600ms ease-out, transform 600ms ease-in-out;
}

.App-section-main.hide {
    transform: translateY(-100%)
}

.App-section-portfolio.hide {
    transform: translateY(100%)
}

/*
 * Miscellenaous
 */

.list-button {
    display: inline-flex;
    border: .1rem solid white;
    border-radius: .25rem;
    overflow: hidden;
}

.list-button button {
    padding: .35rem .85rem;
    font-size: 1.05rem;

    background: transparent;
    border: 0;
    color: white;

    cursor: pointer;

    user-select: none;
}

.list-button button.active {
    background: white;
    color: black;
}

.list-button button:not(:first-of-type) {
    border-left: .075rem solid white;
}
